<!DOCTYPE html>
<html>
<head>
	<title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/admin/new-purchases-notification.css">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a href="/admin/inventory">Inventario</a>
    <a href="/admin/edit-payment-information">Metodos de pago</a>
    <a href="/admin/purchases"><div id="notification" class="newPurchasesNotification"></div>Compras de tus clientes</a>
    <a href="/admin/account-settings">Configuracion de la cuenta</a>
    <a href="/admin/logout">Salir</a>
  </div>
</nav>

<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
  let notification=document.getElementById('notification');

  (async function getUnseenPurchases(){
    let request=await fetch('/admin/purchases/unseen-purchases', {method: 'GET'});
    let response=await request.json();
    if (response.message==='Sucessfull operation'){
      const numberOfNotifications=response.purchases.length;
      if (numberOfNotifications>0){
        notification.textContent=numberOfNotifications.toString();
      }
    }
  })();
  var socket=io();
  socket.on('new purchase', data => {
    let number=notification.textContent;
    number===''? number=1 : number=parseInt(number)+1;
    notification.textContent=number.toString();
  });
</script>

<h3>Bancos</h3>
<p>Inserta numero de cuenta si tienes cuenta en el banco de tu eleccion</p>
<div id="banks">
  <label>Banco de Venezuela</label>
  <input type="text" class="form-control" id="Banco de Venezuela">
  <label>Banco Mercantil</label>
  <input type="text" class="form-control" id="Banco Mercantil">
  <label>Banco BBVA Provincial</label>
  <input type="text" class="form-control" id="Banco BBVA Provincial">
  <label>Banco Banesco</label>
  <input type="text" class="form-control" id="Banco Banesco">
  <label>Banco BOD</label>
  <input type="text" class="form-control" id="Banco BOD">
  <label>Banco Bicentenario</label>
  <input type="text" class="form-control" id="Banco Bicentenario">
  <label>Banco Bancaribe</label>
  <input type="text" class="form-control" id="Banco Bancaribe">
  <label>Banco del Tesoro</label>
  <input type="text" class="form-control" id="Banco del Tesoro">
  <label>Banca Amiga</label>
  <input type="text" class="form-control" id="Banca Amiga">
  <label>Banco Activo</label>
  <input type="text" class="form-control" id="Banco Activo">
</div>

<h3>Dolares electronicos</h3>
<p>Introduce tu email, numero telefonico o identificador equivalente de metodos de pago de tu eleccion</p>
<div id="other">
<label>Zelle</label>
<input type="text" class="form-control" id="Zelle">
<label>Airtm</label>
<input type="text" class="form-control" id="Airtm">
<label>Reserve</label>
<input type="text" class="form-control" id="Reserve">
<label>Paypal</label>
<input type="text" class="form-control" id="Paypal">
</div>

<p>Inserta tu direccion de billetera en las criptomonedas de tu interes</p>
<h3>Criptomonedas</h3>
<div id="cryptos">
<label>Bitcoin</label>
<input type="text" class="form-control" id="Bitcoin">
<label>Ethereum</label>
<input type="text" class="form-control" id="Ethereum">
<label>Tether</label>
<input type="text" class="form-control" id="Tether">
<label>Litecoin</label>
<input type="text" class="form-control" id="Litecoin">
<label>Dash</label>
<input type="text" class="form-control" id="Dash">
<label>XRP</label>
<input type="text" class="form-control" id="XRP">
<label>EOS</label>
<input type="text" class="form-control" id="EOS">
<label>Dodgecoin</label>
<input type="text" class="form-control" id="Dodgecoin">
</div>

<button type="button" class="btn btn-primary" id="update">Actualizar</button>

<script type="text/javascript" src="/validator.min.js"></script>
<script type="text/javascript">
  (async function getPaymentInformation(){
    let request=await fetch('/admin/payment-information', {method: 'GET', });
    let response=await request.json();
    if (response.message==='Sucessfull operation'){
      response.result[0].paymentInformation.forEach(method=>{
        let inputElement=document.getElementById(method.name);
        inputElement.value=method.referenceNumber;
      });
    } else{
      alert('Ha ocurrido un error al momento de recuperar su informacion de pago!');
    }
  })();

  function getData(idFatherNode, initialValue){ //Initial value, because the number of child can be par or impar
    let fatherNode=document.getElementById(idFatherNode).children, data=[];
    for (let i=initialValue? 1 : 2; i<fatherNode.length; i+=2){
      //I just sanitize the values. I'm not validating because I'm lazy
      fatherNode[i].value=validator.trim(fatherNode[i].value);
      fatherNode[i].value=validator.escape(fatherNode[i].value);
      data.push({
        name: fatherNode[i-1].textContent,
        referenceNumber: fatherNode[i].value
      })
    }
    return data;
  }

  function joinArrays(arrayOfArrays){
    let result=[];
    for (let i=0; i<arrayOfArrays.length; i++){
      for (let j=0; j<arrayOfArrays[i].length; j++){
        result.push(arrayOfArrays[i][j]);
      }
    }
    return result;
  }
  let update=document.getElementById('update');
  update.addEventListener('click', async ()=>{
  	let banks=getData('banks', true);
  	let otherMethods=getData('other', true);
  	let cryptos=getData('cryptos', true);    
  	let paymentMethodsData=joinArrays([banks, otherMethods, cryptos]);
    paymentMethodsData=JSON.stringify(paymentMethodsData);
  	let request=await fetch('/admin/edit-payment-information', {method: 'PUT', headers: { 'Content-Type': 'application/json'}, body: paymentMethodsData});
  	let response=await request.json();
    if (response.result==='Sucessfull operation'){
      alert('Se han actualizado los datos con exito!');
    } else{
      alert('Ha ocurrido un error. Intentelo de nuevo');
    }
  });
</script>
</body>
</html>