<!DOCTYPE html>
<html>
<head>
	<title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/admin/new-purchases-notification.css">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      .center{
        display: flex;
        justify-content: center;
      }
    </style>
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a href="/admin/inventory">Inventario</a>
    <a href="/admin/edit-payment-information">Metodos de pago</a>
    <a href="/admin/purchases"><div id="notification" class="newPurchasesNotification"></div>Compras de tus clientes</a>
    <a href="/admin/account-settings">Configuracion de la cuenta</a>
    <a href="/admin/logout">Salir</a>
  </div>
</nav>

<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
  let notification=document.getElementById('notification');

  (async function getUnseenPurchases(){
    let request=await fetch('/admin/purchases/unseen-purchases', {method: 'GET'});
    let response=await request.json();
    if (response.message==='Sucessfull operation'){
      const numberOfNotifications=response.purchases.length;
      if (numberOfNotifications>0){
        notification.textContent=numberOfNotifications.toString();
      }
    }
  })();
  var socket=io();
  socket.on('new purchase', data => {
    let number=notification.textContent;
    number===''? number=1 : number=parseInt(number)+1;
    notification.textContent=number.toString();
  });
</script>

<div class="center">
  <button type="button" class="btn btn-success" id="update">Actualizar datos</button>
</div>

<table class="table">
  <tbody id="banks">
    <thead>
      <tr>
        <th scope="col">Banco</th>
        <th scope="col">Rif (o cedula)</th>
        <th scope="col">Numero de cuenta</th>
      </tr>
    </thead>
  </tbody>
</table>


<script type="text/javascript" src="/validator.min.js"></script>
<script type="text/javascript">
   const nameBanks=['Venezuela', 'Banesco', 'Mercantil', 'BBVA Provincial', 'BOD', 'Bicentenario', 'Bancaribe'];
   let banks=[];
   for (let i=1; i<=7; i++){
     banks.push('Banco');
   }
   for (let i=0; i<7; i++){
     banks[i]+=' '+nameBanks[i];
   }
   const banksTable=document.getElementById('banks'); //This global const will be used in the update event to
   for (let i=0; i<7; i++){
     let row=document.createElement('tr');
     row.id=banks[i];
     let headColumn=document.createElement('th');
     headColumn.scope='col';
     let dniOrRifColumn=document.createElement('td'), numberAccountColumn=document.createElement('td');
     let dniCheck=document.createElement('input'), rifCheck=document.createElement('input');
     let dniCheckLabel=document.createElement('label'), rifCheckLabel=document.createElement('label');
     let dniOrRifInput=document.createElement('input'), numberAccountInput=document.createElement('input');
     headColumn.textContent=banks[i];
     headColumn;
     dniCheck.type='radio';
     rifCheck.type='radio';
     dniCheck.value='V';
     rifCheck.value='G';
     dniCheck.name='idType'+i.toString();
     rifCheck.name='idType'+i.toString();
     dniCheckLabel.for='V';
     dniCheckLabel.textContent='V';
     dniCheckLabel.className='form-check-label';
     rifCheckLabel.for='G';
     rifCheckLabel.textContent='G';
     rifCheckLabel.className='form-check-label'
     dniOrRifInput.className='form-control';
     numberAccountInput.className='form-control';
     dniOrRifColumn.appendChild(dniOrRifInput);
     dniOrRifColumn.appendChild(dniCheck);
     dniOrRifColumn.appendChild(dniCheckLabel);
     dniOrRifColumn.appendChild(rifCheck);
     dniOrRifColumn.appendChild(rifCheckLabel);
     numberAccountColumn.appendChild(numberAccountInput);
     row.appendChild(headColumn);
     row.appendChild(dniOrRifColumn);
     row.appendChild(numberAccountColumn);
     banksTable.appendChild(row);
   }

  update.addEventListener('click', async ()=>{
    let bankRows=banksTable.children, data=[];
    for (let i=0; i<banks.length; i++){
      let bankRowChilds=bankRows[i].children;
      let bankIdColumnOfActualRow=bankRowChilds[1], bankNumberAccountColumnOfActualRow=bankRowChilds[2];
      let dniValue=bankIdColumnOfActualRow.children[1].checked, rifValue=bankIdColumnOfActualRow.children[3].checked
      let idValueActualBankColumn=bankIdColumnOfActualRow.children[0].value; //4
      let numberBankAccount=bankNumberAccountColumnOfActualRow.children[0].value;
      let dniOrRifValue=dniValue? 'V' : rifValue? 'G' : '';
      data.push({ name: banks[i], id: dniOrRifValue+'-'+idValueActualBankColumn, accountNumber: numberBankAccount });
    }
    //Next I clean the data
    let cleanData=[]
    for (let i=0; i<data.length; i++){
      if (data[i].id!=='-' && data[i].id[0]!=='-' && data[i].accountNumber!==''){
        cleanData.push(data[i]);
      }
    }
    
  	let request=await fetch('/admin/edit-payment-information', {method: 'PUT', headers: { 'Content-Type': 'application/json'}, body: JSON.stringify(cleanData)});
  	let response=await request.json();
    if (response.result==='Sucessfull operation'){
      alert('Se han actualizado los datos con exito!');
    } else{
      alert('Ha ocurrido un error. Intentelo de nuevo');
    }
  });

  //I recovery (if the admin has done any change) of the data for paste in the table
  (async ()=>{
    let request=await fetch('/admin/payment-information', {method: 'GET'});
    let response=await request.json();
    if (response.message==='Sucessfull operation'){
      if (response.result[0].paymentInformation.length>0){
      	response.result[0].paymentInformation.forEach(bank=>{
          let actualBankRow=document.getElementById(bank.name);
          bank.id[0]==='V'? actualBankRow.children[1].children[1].checked=true : actualBankRow.children[1].children[3].checked=true;
          actualBankRow.children[1].children[0].value=bank.id.replace(bank.id[0]+bank.id[1], '');
          actualBankRow.children[2].children[0].value=bank.accountNumber;
      	});
      }
    } else{
      alert('Ha ocurrido un error al momento de recuperar su informacion de pago');
    }
  })();
</script>
</body>
</html>