<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/admin/new-purchases-notification.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
</head>
<body>

<style>
  img{
    width: 50px;
    height: 50px;
    /*max-width: 100%;
    height: auto;*/
  }
</style>

<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a href="/admin/inventory">Inventario</a>
    <a href="/admin/edit-payment-information">Metodos de pago</a>
    <a href="/admin/purchases"><div id="notification" class="newPurchasesNotification"></div>Compras de tus clientes</a>
    <a href="/admin/account-settings">Configuracion de la cuenta</a>
    <a href="/admin/logout">Salir</a>
  </div>
</nav>

<h4>Modulo de inventario. Aqui podras añadir, ver, editar y eliminar productos del negocio</h4>

<div id="root"> 
</div>


<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
  let notification=document.getElementById('notification');

  (async function getUnseenPurchases(){
    let request=await fetch('/admin/purchases/unseen-purchases', {method: 'GET'});
    let response=await request.json();
    if (response.message==='Sucessfull operation'){
      const numberOfNotifications=response.purchases.length;
      if (numberOfNotifications>0){
        notification.textContent=numberOfNotifications.toString();
      }
    }
  })();
  var socket=io();
  socket.on('new purchase', data => {
    let number=notification.textContent;
    number===''? number=1 : number=parseInt(number)+1;
    notification.textContent=number.toString();
  });

  const eventBus={
    on(event, callback){
      document.addEventListener(event, (e) => callback(e.detail));
    },
    dispatch(event, data){
      document.dispatchEvent(new CustomEvent(event, { detail: data }));
    },
    remove(event, callback) {
      document.removeEventListener(event, callback);
    }
  }
</script>


<script src="/react.production.min.js"></script>
<script src="/react-dom.production.min.js"></script>


<script type="text/javascript" src="/classes/frontend/admin/inventory-transpiled/add-product-form.js"></script>
<script type="text/javascript" src="/classes/frontend/admin/inventory-transpiled/item.js"></script>
<script type="text/javascript" src="/classes/frontend/admin/inventory-transpiled/list.js"></script>
<script type="text/javascript" src="/classes/frontend/admin/inventory-transpiled/search-product.js"></script>
<script type="text/javascript" src="/classes/frontend/admin/inventory-transpiled/products-data.js"></script>

<script type="text/javascript" src="/controllers-frontend/admin-transpiled/inventory.js"></script>

</body>
</html>