<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/admin/login.css" rel="stylesheet">
</head>
<body>

<div id="login">
  <form action="/admin/login" method="POST">
    <div class="mb-3">
      <input type="text" name="username" placeholder="Nombre de usuario">
    </div>
    <div class="mb-3">
      <input type="password" name="password" placeholder="Contraseña">
    </div>
    <button type="submit" class="btn btn-success">Iniciar sesion</button>
  </form>
</div>

</body>
</html>