<!DOCTYPE html>
<html>
<head>
	<title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>


<div id="root"></div>

<script src="/js/bootstrap.bundle.min.js"></script>

<script src="/socket.io/socket.io.js"></script>
<script>  
  var socket=io();
  fetch('/admin/purchases/change/view-by-admin-status', {method: 'PUT'});
    const eventBus={
    on(event, callback){
      document.addEventListener(event, (e) => callback(e.detail));
    },
    dispatch(event, data){
      document.dispatchEvent(new CustomEvent(event, { detail: data }));
    },
    remove(event, callback) {
      document.removeEventListener(event, callback);
    }
  }
</script>

<script src="/react.production.min.js"></script>
<script src="/react-dom.production.min.js"></script>

<script type="text/javascript" src="/classes/frontend/admin/purchases-transpiled/nav-bar.js"></script>
<script type="text/javascript" src="/classes/frontend/admin/purchases-transpiled/table-admin.js"></script>
<script type="text/javascript" src="/classes/frontend/admin/purchases-transpiled/transactions.js"></script>

<script type="text/javascript" src="/controllers-frontend/admin-transpiled/purchases.js"></script>

</body>
</html>