<!DOCTYPE html>
<html>
<head>
   <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="singin.css" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><h4><span style="color: yellow">Vene</span><span style="color: blue">Comer</span><span style="color: red">cios</span></h4></a>
  </div>
</nav>

<form action="/admin/signin" method="post" enctype="application/json">
  <div class="mb-3">
    <label class="form-label">Introduce el nombre de tu negocio</label>
    <input type="text" class="form-control" name="commerceName" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Introduzca el correo electronico del negocio</label>
    <input type="email" class="form-control" name="email" required>
  </div>
    <div class="mb-3">
    <label class="form-label">Introduzca el numero telefonico del negocio</label>
    <input class="form-control" name="phoneNumber" required>
  </div>
    <div class="mb-3">
    <label class="form-label">Introduzca una contraseña</label>
    <input type="password" class="form-control" name="password" required>
  </div>
    <div class="mb-3">
    <label class="form-label">Repita la contraseña</label>
    <input type="password" class="form-control" required name="repeatedPassword">
  </div>
    <div class="mb-3">
    <label class="form-label">Estado donde se encuentra su negocio</label>
    <select class="form-select" id="states" name="state">
    </select>
  </div>
  <div class="mb-3">
    <label class="form-label">Ciudad o municipio en el que se encuentra su negocio</label>
    <input type="text" class="form-control" name="city">
  </div>
  <div class="mb-3">
    <label class="form-label">Direccion del negocio</label>
    <input type="text" class="form-control" name="direction" requried>
  </div>
  <button type="submit" class="btn btn-success" id="signin">Registrarse</button>
</form>

<script>
  const states=[
    'Amazonas',
    'Anzoategui',
    'Apure',
    'Aragua',
    'Barinas',
    'Bolivar',
    'Carabobo',
    'Cojedes',
    'Delta Amacuro',
    'Falcon',
    'Guarico',
    'Lara',
    'Merida',
    'Miranda',
    'Monagas',
    'Nueva Esparta',
    'Portuguesa',
    'Sucre',
    'Tachira',
    'Trujillo',
    'La Guaira',
    'Yaracuy',
    'Zulia'
  ];
  const selectStates=document.getElementById('states');
  states.forEach(state=>{
    let option=document.createElement('option');
    option.value=state;
    option.textContent=state;
    selectStates.appendChild(option);
  });

</script>

</body>
</html>