<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <!--This view will change depending on whether the user is logged in or not-->
  <nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><h4><span style="color: yellow">Vene</span><span style="color: blue">Comer</span><span style="color: red">cios</span></h4></a>
         <a href="/customer/purchases">Tus transacciones</a>
     <a href="/customer/account-settings">Configuracion de la cuenta</a>
     <a href="/customer/logout">Salir</a>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Nombre del comercio" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
  </div>
</nav>



<button type="button" class="btn btn-success" id="shoppingCart" data-bs-toggle="modal" data-bs-target="#cart">Tu compra</button>

<!-- Modal para el carrito de compras 
<div class="modal fade" id="cart" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="cartBody">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="buy" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#purchase">Comprar</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>-->

<!-- Modal para la compra del usuario 
<div class="modal fade" id="purchase" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="purchaseBody">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal" id="confirmPurchase">Confirmar compra</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>-->

<div id="root"></div>

<script src="/js/bootstrap.bundle.min.js"></script>

<script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

<script type="text/babel">
  /*Creo la clase "informacion bancaria" que contendra la informacion respectiva a las cuentas bancarias y metodos de pago del comercio
  que este viendo el usuario, para que al momento de pagar, el usuario pueda ver las distintas opciones*/
  /*Por cierto, dejare este comentario para recordar al momento de empezar a trabajar de nuevo:
  Lo que me falta hacer es sincronizar los eventos de agregar un item al carrito, el evento de compra del componente en forma de modal
  purchase y mostrar la informacion financiera en ese mismo componente. */
  const eventBus={
    on(event, callback){
      document.addEventListener(event, (e) => callback(e.detail));
    },
    dispatch(event, data){
      document.dispatchEvent(new CustomEvent(event, { detail: data }));
    }
  }

  class paymentInformation{
    constructor(shopName){
      this.shopName=shopName
      this.data=[]
    }

    async getData(){
      let request=await fetch(`/customer/catalogue/payment-information?commerceName=${this.shopName}`, {method: 'GET', headers: 
        {'Content-Type': 'application/json'}})
      let response=await request.json()
      if (response.message==='Sucessfull operation'){
        /*Because not necessary some commerce use all the payment methods, I will filter what methods are use knowing the value
        of the referenceNumber. If is '', then is not used*/
        let paymentMethodsData=response.result[0].paymentInformation //This is not a string... is a object, so, JSON.parse is innecesary
        paymentMethodsData.forEach(method=>{
          if (method.referenceNumber!==''){
            this.data.push(method)
          } 
        })
      }
      return this.data
    }
  }
  let commerceName=window.location.search.replace('?commerceName=', '')
  async function getProducts(shopName){
    let request=await fetch(`/customer/catalogue/products?commerceName=${shopName}`, {method: 'GET', headers: {'Content-Type': 'application/json'}});
    let response=await request.json();
    return {products: response.result};
  }

  (async function test(){
    
    class Item extends React.Component {
      constructor(props){
        super(props)
        this.addToCart=this.addToCart.bind(this)
        /*Por ahora no hay estados, salvo el color del boton que cambia temporalmente. Esto cambiara con el carrito de compra, websockets, compra definitiva, etc...*/
        this.state={
          addToCartButtonColor: 'btn btn-warning'
        }
      }

      addToCart(){
        //I change the color of the botton (changin the state color, a class of the button) for like 0.5 seconds
        this.setState({
          addToCartButtonColor: 'btn btn-primary'
        })
        setTimeout(()=>this.setState({addToCartButtonColor: 'btn btn-warning'}), 250)
        //This will fire the event "addItem" of the shopping cart component. 
        /*The propsobject is not extensible, so, I send a new object with the props of interest, not the this.props, because,
        the property amount will be necessary in the shopping cart component*/
        let itemData={name: this.props.name, price: this.props.price, src: this.props.src}
        eventBus.dispatch('addItem', itemData)
      }

      render(){
        return(
          <li className="list-group-item">
            <p>Nombre: {this.props.name}</p>
            <p>Clasificacion: {this.props.classification}</p>
            <p>Cantidad disponible: {this.props.availableQuantity}</p>
            <p>Precio: {this.props.price}</p>
            <img src={this.props.src} alt='Foto del producto'/>
           <button type="button" className={this.state.addToCartButtonColor} onClick={this.addToCart} id="addToCart">Agregar al carrito</button>
          </li>
        )
      }
    }

    class List extends React.Component {
      render(){
        return (
          <ul className="list-group">{this.props.products.map((product)=>{
           return <Item key={product.productName} 
           name={product.productName} 
           classification={product.classification}
           availableQuantity={product.availableQuantity}
           price={product.price}
           src={product.src}/>
          })}</ul>
        )
      }
    }

    class ShoppingCart extends React.Component {
      constructor(props){
        super(props)
        this.addItem=this.addItem.bind(this)
        this.state={
          items: [],
          totalPrice: 0
        }
      }

      componentDidMount(){
        eventBus.on('addItem', data =>{
          this.addItem(data)
        })
        eventBus.on('sendPurchaseData', data=>{
          let productsData=this.state.items
          eventBus.dispatch('receiveProductsDataFromTheShoppingCart', productsData)
        })
        eventBus.on('sucessfullPurchase', data=>{
          //The user has buyed the items, so, the shopping cart now is empty
          this.setState({
            items: []
          })
        })
      }

      addItem(item){
        //First, I check if the product exist in the cart. In the case that exist, the amount of that item up to +1
        let i=0, flag=false, itemIndex=-1
        while (i<this.state.items.length && !flag){
          if (this.state.items[i].name===item.name){
            flag=true
            itemIndex=i
          }
          i++
        }
        let newItemsValue=this.state.items
        if (!flag){
          item.amount=1
          newItemsValue.push(item)
          this.setState({
            items: newItemsValue
          })
        } else{
          newItemsValue[itemIndex].amount+=1
          this.setState({
            items: newItemsValue
          })
        }
        //I calculate the total price again
        let newTotalPrice=0
        this.state.items.forEach(item=>{
          newTotalPrice+=parseInt(item.amount)*parseInt(item.price)
        })
        this.setState({ 
          totalPrice: newTotalPrice
        })
        /*Next, I update the total price in the purchase modal.
        Btw, setState is asyncrhonous. For that, I send the newTotalPrice, not the state*/
        eventBus.dispatch('updateTotalPrice', {newPrice: newTotalPrice}) 
      }

      deleteItem(itemName){
        
      }

      buy(){ //Just show the purchase modal
        
      }

      render(){
        return (
            <div className="modal fade" id="cart" tabIndex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div className="modal-dialog">
            <div className="modal-content">
            <div className="modal-header">
            <h5 className="modal-title" id="exampleModalLabel">Carrito de compra</h5>
            <button type="button" className="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div className="modal-body" id="cartBody">
            <table className="table">
              <thead>
                <tr>
                  <th>Producto</th><th>Precio</th><th>Cantidad</th>
                </tr>
              </thead>
              <tbody>
                {this.state.items.map(item=>{
                  return <tr key={item.name}>
                           <td>{item.name}</td><td>{item.price}</td><td>{item.amount}</td><td>{item.src}</td>
                         </tr>
                })}
              </tbody>
            </table>
          </div>
          <div className="modal-footer">
            <button type="button" className="btn btn-primary" id="buy" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#purchase" onClick={this.buy}>Comprar</button>
            <button type="button" className="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
          </div>
          </div>
          </div>
          </div>
        )
      }
    }

    class Purchase extends React.Component{
      constructor(props){
        super(props)
        this.confirm=this.confirm.bind(this)
        this.transaction=this.transaction.bind(this)
        this.changeMethodName=this.changeMethodName.bind(this)
        this.changeReferenceNumber=this.changeReferenceNumber.bind(this)
        this.state={
          totalPrice: 0,
          methodName: '',
          referenceNumber: ''
        }
      }
  
      changeMethodName(event){
        this.setState({
          methodName: event.target.value
        })
        console.log(this.state.methodName)
      }

      changeReferenceNumber(event){
        this.setState({
          referenceNumber: event.target.value
        })
        console.log(this.state.referenceNumber)
      }

     /*-El evento confirmar del componente purchase, disparara el evento sendPurchaseData del componente shopping cart
       -El evento sendPurchaseData activara el evento receiveProductsDataFromTheShoppingCart del componente purchase
       -El evento receiveProductsDataFromTheShoppingCart activara el evento transaction del componente purchase
       -Finalmente, el evento transaction sera una solicitud fetch para registrar una compra del cliente en la respectiva tienda*/

      confirm(){
        eventBus.dispatch('sendPurchaseData', null)
      }

      componentDidMount(){
        eventBus.on('updateTotalPrice', data=>{
          this.setState({
            totalPrice: data.newPrice
          })
        })
        eventBus.on('receiveProductsDataFromTheShoppingCart', data=>{
          //First I obtain the total price (just multiply the price of each item with the amount, and sum, duhhh)
          /*let totalPrice=0
          data.forEach(item=>{
            totalPrice+=parseInt(item.amount)*parseInt(item.price)
          })
          data.totalPrice=totalPrice*/
          this.transaction(data)
        })
      }

      async transaction(purchaseData){
        console.log(this.props.shopName)
        console.log(purchaseData)
        console.log(this.state.totalPrice)
        console.log(this.state.methodName)
        console.log(this.state.referenceNumber)
        let data={
          commerceName: this.props.shopName,
          items: purchaseData,
          totalPrice: this.state.totalPrice,
          paymentMethod: this.state.methodName,
          referenceTransactionNumber: this.state.referenceNumber
        }
        let request=await fetch('/customer/catalogue/buy', {method: 'POST', headers: {'Content-Type': 'application/json'}, 
        body: JSON.stringify(data)})
        let response=await request.json()
        if (response.result==='Successfull operation'){
          //Delete all the items of the shopping cart, and show the message of succesfull purchase
          eventBus.dispatch('sucessfullPurchase', null)
          alert('Compra exitosa!')
        } else{
          //Show failed message...
          alert('Ha ocurrido un error. Intentelo de nuevo')
        } 
      }

      render(){
        return (
          <div className="modal fade" id="purchase" tabIndex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div className="modal-dialog">
    <div className="modal-content">
      <div className="modal-header">
        <h5 className="modal-title" id="exampleModalLabel">Confirmar compra</h5>
        <button type="button" className="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div className="modal-body" id="purchaseBody">
      	<p>Estos son los metodos de pago y los datos usados por {this.props.shopName}. Haz la respectiva transaccion con alguno de estos metodos
      	y luego confirma la transaccion</p>
        {this.props.paymentMethods.map(method=>{
          return <p key={method.name}>
          	       {method.name+' : '+method.referenceNumber}
          	     </p>
        })}
        <p>El precio total de tu compra es {this.state.totalPrice}</p>
        <p>Selecciona tu metodo de pago</p>
        <select className="form-control" id="exampleFormControlSelect1" value={this.state.methodName} onChange={this.changeMethodName}>
            {this.props.paymentMethods.map(method=>{
              return <option className="form-control" key={method.name}>{method.name}</option>
            })}
        </select>
        <p>Introduce el numero de referencia de tu transaccion</p>
        <input type="text" name="referenceNumberClient" value={this.state.referenceNumber} onChange={this.changeReferenceNumber}/>
      </div>
      <div className="modal-footer">
        <button type="button" className="btn btn-success" data-bs-dismiss="modal" id="confirmPurchase" onClick={this.confirm}>Confirmar compra</button>
        <button type="button" className="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
        )
      }
    }
    //Ok... I need pass as props the financial information of the commerce to the purchase component, just that...
    let data=await getProducts(commerceName)
    let paymentData=new paymentInformation(commerceName)
    const cart=<ShoppingCart />
    const purchase=<Purchase paymentMethods={await paymentData.getData()} shopName={commerceName}/>
    const list=<List products={data.products} />
    ReactDOM.render(
      <div>
        {list}
        {cart}
        {purchase}
      </div>,
      document.getElementById('root')
    )
  })()
  /*let addToCartButton=document.getElementById('addToCart');
  addToCartButton.addEventListener('click', ()=>{
    addToCartButton.className.color='green';
  });*/
</script>


</body>
</html>