<!--So, to the client this will be the principal interface. So, the user will contain 23 cards, and each card will contain
as content the name of one of the 23 states of Venezuela. When the user click in one of the cards, A list (or table) of the different businesses that are in that state will be displayed (in card form). So, each card will contain the name of the business, the photo,
the direction, city, et. And obviosly, if the user click in one of the business cards, the catalogue of the products (and the shopping card)
will appear. So, this is the interface, is cool :) -->
<!DOCTYPE html>
<html>
<head>
	<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><h4><span style="color: yellow">Vene</span><span style="color: blue">Comer</span><span style="color: red">cios</span></h4></a>
    <a href="/customer/shops-state-template">Busqueda</a>
    <a href="/customer/purchases">Tus transacciones</a>
    <a href="/customer/account-settings">Configuracion de la cuenta</a>
    <a href="/customer/logout">Salir</a>
  </div>
</nav>

<div id="root"> 
</div>

<script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

<script type="text/babel">
  const estados=['Amazonas', 'Anzoategui', 'Apure', 'Aragua', 'Barinas', 'Bolivar', 'Carabobo', 'Cojedes', 'Delta Amacuro', 'Distrito Capital',
  'Falcon', 'Guarico', 'La Guaira', 'Lara', 'Merida', 'Miranda', 'Monagas', 'Nueva Esparta', 'Portuguesa', 'Sucre', 'Tachira', 'Trujillo',
  'Yaracuy', 'Zulia']
  function StatesList(states){
    //Por que carajo states se pasa como un objeto y la propiedad states es el array?
    let result=states.states.map(state=>{
      return <a key={state} href={'/customer/home-client/shops-state-template?state='+state}>
               <div className="card" style={{width: 50+'rem'}}>
                 <img src="..." className="card-img-top" alt="..."/>
                 <div className="card-body">
                   <h2 className="card-text">{state}</h2>
                 </div>
               </div>
            </a>
    })
    return result
  }
  const list=<StatesList states={estados}/>
  ReactDOM.render(
    list,
    document.getElementById('root')
  );
</script>

</body>
</html>