<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="index.css" rel="stylesheet">
</head>
<body>


  <nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><h4><span style="color: yellow">Vene</span><span style="color: blue">Comer</span><span style="color: red">cios</span></h4></a>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Nombre del comercio" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
  </div>
</nav>


  <script src="/js/bootstrap.bundle.min.js"></script>
<img src="wallpaper.png" alt="wallpaper">
<div id="login">
  
  
  <form action="/login" method="POST">
  	<p>Inicia sesion para empezar a comprar!</p>
    <div class="mb-3">
      <label class="form-label">Numero de cedula</label>
      <input class="form-control" name="username">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Contraseña</label>
      <input type="password" class="form-control" name="password">
    </div>
    <button type="submit" class="btn btn-success">Iniciar sesion</button>
    <a href="/customer/signin">¿No tienes cuenta como cliente? Registrate!</a>
  </form>
</div>

<script>
  
</script>

</body>
</html>