<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="index.css" rel="stylesheet">
</head>
<body>


  <nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><h4><span style="color: yellow">Vene</span><span style="color: blue">Comer</span><span style="color: red">cios</span></h4></a>
    <button class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#infoModal" type="button">¿Que es venecomercios?</button>
    <button class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#infoModal" type="button">¿Por que usar nuestro servicio?</button>
    <button class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#infoModal" type="button">¿Quien usa venecomercios?</button>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Nombre del comercio" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
  </div>
</nav>

    <div id="" class="modal-dialog modal-dialog-scrollable">
   </div>

   <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

  <!--<img src="wallpaper.jpg" alt="wallpaper">-->
  <script src="/js/bootstrap.bundle.min.js"></script>

<div id="login">
  <img src="wallpaper.jpg" alt="wallpaper">
<form action="/login" method="POST">
  <p>¿Quieres que tu negocio tenga presencia online?</p>
  <p>Somos la solucion!</p>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Correo electronico</label>
    <input type="email" class="form-control" name="username">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Contraseña</label>
    <input type="password" class="form-control" name="password">
  </div>
  <button type="submit" class="btn btn-success">Iniciar sesion</button>
  <a href="/signin">¿No tienes cuenta? Registrate!</a>

</form>
</div>

<!--<div id="lastInformation">
  <a href="">Contacto</a> 
  <a href="">Terminos y condiciones</a>
  <a href="">Politica de cookies</a>
  <a href="">Politica de privacidad</a>
</div>-->



</body>
</html>