<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><h4><span style="color: yellow">Vene</span><span style="color: blue">Comer</span><span style="color: red">cios</span></h4></a>
    <a href="">Inventario</a>
    <a href="">Compras de tus clientes</a>
    <a href="">Estadisticas</a>
    <a href="">Configuracion de la cuenta</a>
  </div>
</nav>

<h4>Modulo de inventario. Aqui podras añadir, ver, editar y eliminar productos del negocio</h4>

<a href="/8h89fh2389hf9823bg23btui89dh2398thb923gbdff31fqx1e1r1rf231f/iniaeiofn897t78tq878f86qwf6t8/session/logout">Salir</a>
<a href="/8h89fh2389hf9823bg23btui89dh2398thb923gbdff31fqx1e1r1rf231f/iniaeiofn897t78tq878f86qwf6t8/session/purchases">Pedidos</a>

<script src="https://unpkg.com/vue@next"></script> <!--Using Vue-->

<form method="POST" action="/admin/add-product" class="addProduct" enctype="multipart/form-data">
  <div class="mb-3">
    <label  class="form-label">Descripcion/Nombre del producto</label>
    <input type="text" class="form-control" name="productName" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Clasificacion/Categoria del producto</label>
    <input type="text" class="form-control" name="classification" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Cantidad disponible</label>
    <input type="number" class="form-control" name="amount" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Precio</label>
    <input type="number" class="form-control" name="price" required>
  </div>
  <label class="form-label">Imagen/Foto del producto</label>
  <input type="file" name="productPhoto" required>
  <button type="submit" class="btn btn-success">Agregar Producto</button>
</form>
<div  id="catalogue">
  <div class="container" v-html="products"></div>
</div>

<!--<script src="catalogue.js"></script>-->
<script>
  let catalogue={
    data() {
      return {
        products: ''
      }
    },

    async mounted(){
      try{
        let request=await fetch('/admin/get-products', {method: 'GET', headers: {'Content-Type': 'application/json'}});
        let response=await request.json();
        //El inventario se presentara en forma de grid. Cada fila tendra 3 productos.
        const totalProducts=response.result.length;
        const rowsAmount=Math.ceil(totalProducts/3);
        if (rowsAmount===0){
          alert('No tienes productos en tu inventario!');
        } else{
          this.products+='<div class="container">';
          let productCounterPerRow=1, actualProductCounter=0;
          for (let i=0; i<rowsAmount; i++){
            this.products+='<div class="row">';
            while (productCounterPerRow<=3 && actualProductCounter<totalProducts){
              this.products+='<div class="col">';
              this.products+=`<p>Nombre del producto: ${response.result[actualProductCounter].productName}</p> <p>Clasificacion: ${response.result[actualProductCounter].classification}</p> 
                <p>Cantidad disponible: ${response.result[actualProductCounter].availableQuantity}</p> <p>Precio: ${response.result[actualProductCounter].price}</p> <img src"${response.result[actualProductCounter].productPhotoPath}" alt="foto del producto">`;
              this.products+='</div>';
              productCounterPerRow++;
              actualProductCounter++;
            }
            productCounterPerRow=1;
            this.products+='</div>';
          }
          this.products+='</div>';
        }
      } catch(err){
        alert('Ha ocurrido un error al momento de recuperar los productos de tu inventario!');
      }
    }

  };
  Vue.createApp(catalogue).mount('#catalogue');



  /*let newCatalogue=new catalogue('products');
  newCatalogue.getProducts();*/
</script>
  <!--<script src="/frontend/shopping-cart.js"></script>
  <script src="/frontend/catalogue.js"></script>
  <script>
    let productView=new catalogue;
    async function get(){ //Como la funcion "getProducts" es asincrona, tengo que usar await...
      await productView.getProducts('products', true);
    }
    get();
  </script>-->
</body>
</html>