<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><h4><span style="color: yellow">Vene</span><span style="color: blue">Comer</span><span style="color: red">cios</span></h4></a>
    <a href="">Inventario</a>
    <a href="">Compras de tus clientes</a>
    <a href="">Estadisticas</a>
    <a href="">Configuracion de la cuenta</a>
  </div>
</nav>

<h4>Modulo de inventario. Aqui podras añadir, ver, editar y eliminar productos del negocio</h4>

<script src="https://unpkg.com/vue@next"></script> <!--Using Vue-->

<form method="POST" action="/admin/add-product" class="addProduct" enctype="multipart/form-data">
  <div class="mb-3">
    <label  class="form-label">Descripcion/Nombre del producto</label>
    <input type="text" class="form-control" name="productName" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Clasificacion/Categoria del producto</label>
    <input type="text" class="form-control" name="classification" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Cantidad disponible</label>
    <input type="number" class="form-control" name="amount" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Precio</label>
    <input type="number" class="form-control" name="price" required>
  </div>
  <label class="form-label">Imagen/Foto del producto</label>
  <input type="file" name="productPhoto" required>
  <button type="submit" class="btn btn-success">Agregar Producto</button>
</form>

<div id="app"> 
  <div class="container">
    <products-list></products-list>
  </div>
</div>

<script>
  let app;
  async function getProducts(){
    let request=await fetch('/admin/get-products', {method: 'GET', headers: {'Content-Type': 'application/json'}});
    let response=await request.json();
    return {products: response.result};
  }

  function showProducts(data){
    let app=Vue.createApp({
    });
    if (Object.entries(data.products).length===0){
      alert('No tiene productos en su inventario!');
    } else{
      app.component('product', {

        props: ['productName', 'classification', 'availableQuantity', 'price', 'productPhotoPath'],

        emits: ['update', 'eliminar'],

        methods: {

          async update(){
            /*I wonder ... if I should use a modal window that shows the component and its data in the update inputs, with the corresponding update or cancel buttons or just that these inputs and the buttons appear in the component without the need for modal windows*/
          },

          async remove(){ //remove because "delete" is  keyword of javascript and i can not use keywords of javascript in vue
            let request=await fetch('/admin/delete-product', {method: 'DELETE', headers: {'Content-Type': 'application/json'}, body: JSON.stringify({productName: this.productName})});
            let response=await request.json();
            if (response.result==='El producto ha sido eliminado!'){
              this.$root.$el.parentNode.removeChild(this.$root.$el)
              alert('El producto ha sido eliminado');
            } else{
              alert('Ha ocurrido un error. Intentelo de nuevo');
            }
          }
        },

        template: `<li class="list-group-item"> <div><p>Product name: {{productName}}</p> <p>Classification: {{classification}}</p> 
        <p>Available Quantity: {{availableQuantity}}</p> <p>Price: {{price}}</p> <img src="{{productPhotoPath}}" alt="product photo"> 
        <button class="btn btn-primary" @click="update">Update</button> 
        <button class="btn btn-danger" @click="remove">Delete</button></div></li>`
      });
      app.component('products-list', {
        data(){
          return {
            products: data.products
          }
        },

        template: `<ul class="list-group" v-for="product in products"> <product v-bind:productName="product.productName" 
        v-bind:classification="product.classification" v-bind:availableQuantity="product.availableQuantity" 
        v-bind:price="product.price" v-bind:productPhotoPath="product.productPhotoPath"/> </ul>`
      });
    }
    return app;
  }

  (async function test(app){
    let data=await getProducts();
    app=showProducts(data);
    app.mount('#app');
  })(app);
</script>
</body>
</html>