<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><h4><span style="color: yellow">Vene</span><span style="color: blue">Comer</span><span style="color: red">cios</span></h4></a>
    <a href="/admin/inventory">Inventario</a>
    <a href="/admin/edit-payment-information">Metodos de pago</a>
    <a href="">Compras de tus clientes</a>
    <a href="">Estadisticas</a>
    <a href="/admin/account-settings">Configuracion de la cuenta</a>
    <a href="/admin/logout">Salir</a>
  </div>
</nav>

<h4>Modulo de inventario. Aqui podras añadir, ver, editar y eliminar productos del negocio</h4>

<form method="POST" action="/admin/add-product" class="addProduct" enctype="multipart/form-data">
  <div class="mb-3">
    <label  class="form-label">Descripcion/Nombre del producto</label>
    <input type="text" class="form-control" name="productName" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Clasificacion/Categoria del producto</label>
    <input type="text" class="form-control" name="classification" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Cantidad disponible</label>
    <input type="number" class="form-control" name="amount" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Precio</label>
    <input type="number" class="form-control" name="price" required>
  </div>
  <label class="form-label">Imagen/Foto del producto</label>
  <input type="file" name="productPhoto" required>
  <button type="submit" class="btn btn-success">Agregar Producto</button>
</form>

<div id="root"> 
</div>

<script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

<script type="text/babel">
  async function getProducts(){
    let request=await fetch('/admin/get-products', {method: 'GET', headers: {'Content-Type': 'application/json'}});
    let response=await request.json();
    return {products: response.result};
  }

  (async function test(){
    /*So... When i update a item, the state (product name, for example) can change to someting like: <input type="text" {this.state.productName} /> from <p> Product name: {this.state.productName} </p> rigth? This is incredible... I love react*/

    /*Well, 2 implementations come tome my mind for make this. The first is the less elegant, so, I will use the second.
    I create two componentes (textConatainer and inputContainer) without states and without methods. Just two functions.
    So, int the class item, for each property (name, classification, etc) i will create and aditional prop called "{prop name}conatiner"
    . So, this aditional property will contain the actual state of the conatiner (html structure) of the prop. So, in the beggining,
    this prop will be a text container (<p> {propertyName}: {value})</p>) and when the even update occurs, the prop will be a input container
    (<p>{propertyName} </p><input type="text" defaulValue={value}>) and so on... 
    Btw, I will use this approach for the buttons "update" and "delete". When a user press update, the update button will disspear.
    Then, when the user press confirm update or cancel, this last 2 buttons will disspear and the update return...Well... 
    Maybe the delete button will disspear and return with the update button at the same time, or maybe not, I will decide this later. In the case of delete, a window will advert to the user if he really want to delete the product. Yes or no, and so on...
    Also, I need resolve the binding between the input value and the state, so, when the input is update, the value sync with the state, so
    when the user confirm the update, that value will be send to the server for update the data in the database...Btw, if the user
    cancel the update, then the states will be return to the initial states*/

    function textContainer(propertyName, value){
      return <p> {propertyName} : {value} </p>
    }

    function inputContainer(propertyName, value, stateName, changeStateEvent){
      return <div> 
               <p>{propertyName}</p>  
               <input type="text" defaultValue={value} name={stateName} onChange={changeStateEvent}/>
             </div>
    }
    
    class Item extends React.Component {
      constructor(props){
        super(props)
        this.update=this.update.bind(this)
        this.delete=this.delete.bind(this)
        this.handleInputChange=this.handleInputChange.bind(this)
        this.confirmUpdate=this.confirmUpdate.bind(this)
        this.cancelUpdate=this.cancelUpdate.bind(this)
        /*The src of the img of the product will not cotain container. And the buttons state will change between "normal" to 
        update (will be a jsx consist of pair of buttons, one pair for update and delete, and the other for confir or cancel the update*/
        this.state={
          nameContainer: this.props.nameContainer,
          name: this.props.name,
          inputName: this.props.name,
          classificationContainer: this.props.classificationContainer,
          classification: this.props.classification,
          inputClassification: this.props.classification,
          availableQuantityContainer: this.props.availableQuantityContainer,
          availableQuantity: this.props.availableQuantity,
          inputAvailableQuantity: this.props.availableQuantity,
          priceContainer: this.props.priceContainer,
          price: this.props.price,
          inputPrice: this.props.price,
          src: this.props.src,
          buttonsState: <div>
                          <button className="btn btn-primary" onClick={this.update}>Actualizar</button> 
                          <button className="btn btn-danger" onClick={this.delete}>Eliminar</button>
                        </div>,
          isDeleted: false //Initial value for conditional rendering
        }
      }
      
      update(){
        this.setState({
          nameContainer: inputContainer('Nombre', this.state.name, 'inputName', this.handleInputChange),
          classificationContainer: inputContainer('Clasificacion', this.state.classification, 'inputClassification', this.handleInputChange),
          availableQuantityContainer: inputContainer('Cantidad disponible', this.state.availableQuantity, 'inputAvailableQuantity', this.handleInputChange),
          priceContainer: inputContainer('Precio', this.state.price, 'inputPrice', this.handleInputChange),
          buttonsState: <div> 
                          <button type="button" className="btn btn-success" onClick={this.confirmUpdate}>Confirmar actualizacion</button>
                          <button type="button" className="btn btn-danger" onClick={this.cancelUpdate}>Cancelar</button>
                        </div>
        })
      }

      async handleInputChange(event){ //Async because the setState function is asyncronous.
        const stateName=event.target.name, newValue=event.target.value
        await this.setState({
          [stateName]: newValue
        })
      }

      async confirmUpdate(){
        let request=await fetch('/admin/update-product', {method: 'PUT', headers: {'Content-Type': 'application/json'}, body: JSON.stringify({productName: this.state.inputName, classification: this.state.inputClassification, availableQuantity:
          this.state.inputAvailableQuantity, price: this.state.inputPrice})});
        let response=await request.json();
        if (response.result==='Operacion exitosa!'){
          this.setState({
            name: this.state.inputName,
            classification: this.state.inputClassification,
            availableQuantity: this.state.inputAvailableQuantity,
            price: this.state.inputPrice
          })
          this.setState({
          nameContainer: textContainer('Nombre', this.state.name),
          classificationContainer: textContainer('Clasificacion', this.state.classification),
          availableQuantityContainer: textContainer('Cantidad disponible', this.state.availableQuantity),
          priceContainer: textContainer('Precio', this.state.price),
          buttonsState: <div>
                          <button className="btn btn-primary" onClick={this.update}>Actualizar</button> 
                          <button className="btn btn-danger" onClick={this.delete}>Eliminar</button>
                        </div>
          })
          alert('Se han actualizado los datos del producto con exito!');
        } else{
          alert('Ha ocurrido un error al actualizar los datos. Intentelo de nuevo. Si el problema persiste, comuniquese con nosotros');
        }
      }

      cancelUpdate(){
        //Apart from update the containers, I clean the values of the inputs, and return to the actual states 
        this.setState({
          nameContainer: textContainer('Nombre', this.state.name),
          inputName: this.state.name,
          classificationContainer: textContainer('Clasificacion', this.state.classification),
          inputClassification: this.state.classification,
          availableQuantityContainer: textContainer('Cantidad disponible', this.state.availableQuantity),
          inputAvailableQuantity: this.state.availableQuantity,
          priceContainer: textContainer('Precio', this.state.price),
          inputPrice: this.state.price,
          buttonsState: <div>
                          <button className="btn btn-primary" onClick={this.update}>Actualizar</button> 
                          <button className="btn btn-danger" onClick={this.delete}>Eliminar</button>
                        </div>
        })
      }

      async delete(){
        let request=await fetch('/admin/delete-product', {method: 'DELETE', headers: {'Content-Type': 'application/json'}, body: JSON.stringify({productName: this.state.name})})
        let response=await request.json()
        if (response.result==='El producto ha sido eliminado!'){
          alert('El producto ha sido eliminado!')
          this.setState({isDeleted: true})
        } else{
          alert('Error. Try again!')
        }
      }

      render(){
        let item=<li className="list-group-item"> <div>
            {this.state.nameContainer} 
            {this.state.classificationContainer} 
            {this.state.availableQuantityContainer} 
            {this.state.priceContainer}
            <img src={this.state.src} alt="product photo"/> 
            {this.state.buttonsState}
          </div> </li>
        return (
          this.state.isDeleted? <div></div>: item
        )
      }
    }

    class List extends React.Component {
      render(){
        return (
          <ul className="list-group">{this.props.products.map((product)=>{
           return <Item key={product.productName} 
           nameContainer={textContainer('Nombre', product.productName)} 
           name={product.productName} 
           classificationContainer={textContainer('Clasificacion', product.classification)}
           classification={product.classification}
           availableQuantityContainer={textContainer('Cantidad disponible', product.availableQuantity)}
           availableQuantity={product.availableQuantity}
           priceContainer={textContainer('Precio', product.price)}
           price={product.price}
           src={product.src}/>
          })}</ul>
        )
      }
    }

    let data=await getProducts();
    const list=<List products={data.products}/>

    ReactDOM.render(
      list,
      document.getElementById('root')
    );
  })();
</script>

</body>
</html>