<!DOCTYPE html>
<html>
<head>
   <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="singin.css" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><h4><span style="color: yellow">Vene</span><span style="color: blue">Comer</span><span style="color: red">cios</span></h4></a>
    <button class="btn btn-sm btn-outline-primary" type="button">¿Que es venecomercios?</button>
    <button class="btn btn-sm btn-outline-primary" type="button">¿Por que usar nuestro servicio?</button>
    <button class="btn btn-sm btn-outline-primary" type="button">¿Quien usa venecomercios?</button>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Nombre del comercio" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
  </div>
</nav>

<form action="/signin" method="post" enctype="multipart/form-data">
  <div class="mb-3">
    <label class="form-label">Introduce el nombre de tu negocio</label>
    <input type="text" class="form-control" name="commerceName" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Introduza la descripcion de su negocio</label>
    <input class="form-control" name="descriptionOfTheCommerce" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Introduzca el correo electronico del negocio</label>
    <input type="email" class="form-control" name="email" required>
  </div>
    <div class="mb-3">
    <label class="form-label">Introduzca el numero telefonico del negocio</label>
    <input class="form-control" name="phoneNumber" required>
  </div>
    <div class="mb-3">
    <label class="form-label">Introduzca una contraseña</label>
    <input type="password" class="form-control" name="password" required>
  </div>
    <div class="mb-3">
    <label class="form-label">Repita la contraseña</label>
    <input type="password" class="form-control" required>
  </div>
    <div class="mb-3">
    <label class="form-label">Estado donde se encuentra su negocio</label>
    <input type="text" class="form-control" name="state">
  </div>
  <div class="mb-3">
    <label class="form-label">Ciudad o municipio en el que se encuentra su negocio</label>
    <input type="text" class="form-control" name="city">
  </div>
  <div class="mb-3">
    <label class="form-label">Direccion del negocio</label>
    <input type="text" class="form-control" name="direction" requried>
  </div>
  <div class="mb-3">
    <label class="form-label">Introduzca una foto de su negocio</label>
    <input type="file" class="form-control" name="commercePhoto" required>
  </div>
  <button type="submit" class="btn btn-success">Registrarse</button>
</form>

</body>
</html>