body{
  font-family: monospace;
}

#login{
 display: flex;
 justify-content: center;
 align-items: center;
 height: 70vh;
}


img{
  margin: 1em;
  width: 80px;
  heigth: 80px;
}

.container{
  display: flex;
  justify-content: space-between;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}