<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/customer/catalogue.css" href="">
</head>
<body>
  

  <!--This view will change depending on whether the user is logged in or not-->
  <nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
     <a href="/customer/catalogue">Catalogo</a>
     <a href="/customer/purchases">Tus transacciones</a>
     <a href="/customer/account-settings">Configuracion de la cuenta</a>
     <a href="/customer/logout">Salir</a>
  </div>
</nav>

<button type="button" class="btn btn-success" id="shoppingCart" data-bs-toggle="modal" data-bs-target="#cart">Tu compra</button>

<script src="/js/bootstrap.bundle.min.js"></script>

<div id="root"></div>

<script src="/react.production.min.js"></script>
<script src="/react-dom.production.min.js"></script>


<script src="/socket.io/socket.io.js"></script>
<script>
  const eventBus={
    on(event, callback){
      document.addEventListener(event, (e) => callback(e.detail));
    },
    dispatch(event, data){
      document.dispatchEvent(new CustomEvent(event, { detail: data }));
    },
    remove(event, callback) {
      document.removeEventListener(event, callback);
    }
  }

  var socket=io();
  (async function setCustomerOnline(){
    let request=await fetch('/customer/dni', {method: 'GET'});
    let response=await request.json();
    socket.emit('set online customer', {dni: response.dni});
  })();
  socket.on('change status purchase', data => {
    alert('Su transaccion ha cambiado de estado!');
  });
</script>


<script type="text/javascript" src="/classes/frontend/customer/catalogue-transpiled/payment-information.js"></script>
<script type="text/javascript" src="/classes/frontend/customer/catalogue-transpiled/products-data.js"></script>
<script type="text/javascript" src="/classes/frontend/customer/catalogue-transpiled/item.js"></script>
<script type="text/javascript" src="/classes/frontend/customer/catalogue-transpiled/list.js"></script>
<script type="text/javascript" src="/classes/frontend/customer/catalogue-transpiled/search-product.js"></script>
<script type="text/javascript" src="/classes/frontend/customer/catalogue-transpiled/shopping-cart.js"></script>
<script type="text/javascript" src="/classes/frontend/customer/catalogue-transpiled/purchase.js"></script>

<script type="text/javascript" src="/controllers-frontend/customer-transpiled/catalogue.js"></script>

</body>
</html>