<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/customer/index.css" rel="stylesheet">
</head>
<body>

  <script src="/js/bootstrap.bundle.min.js"></script>

<div class="container">
  <h1>Veneshop</h1>
  <div > 
    <form action="/login" method="POST">
      <div class="mb-3">
        <input name="username" placeholder="Numero de cedula">
      </div>
      <div class="mb-3">
        <input type="password" name="password" placeholder="Contraseña">
      </div>
      <button type="submit" class="btn btn-success">Iniciar sesion</button>
      <a href="/customer/signin">¿No tienes cuenta como cliente? Registrate!</a>
    </form>
  </div>
</div>

<div id="root"></div>

<script src="/react.production.min.js"></script>
<script src="/react-dom.production.min.js"></script>

<script type="text/javascript" src="/classes/frontend/customer/index-transpiled/item.js"></script>
<script type="text/javascript" src="/classes/frontend/customer/index-transpiled/grid.js"></script>
<script type="text/javascript" src="/classes/frontend/customer/index-transpiled/data.js"></script>

<script type="text/javascript" src="/controllers-frontend/customer-transpiled/index.js"></script>

</body>
</html>