<!DOCTYPE html>
<html>
<head>
	<title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>


<div id="root"></div>

<script src="/js/bootstrap.bundle.min.js"></script>

<script src="/socket.io/socket.io.js"></script>
<script>  
  var socket=io();
  (async function setCustomerOnline(){
    let request=await fetch('/customer/dni', {method: 'GET'});
    let response=await request.json();
    socket.emit('set online customer', {dni: response.dni});
  })();
</script>

<script src="/react.production.min.js"></script>
<script src="/react-dom.production.min.js"></script>

<script type="text/javascript" src="/classes/frontend/customer/purchases-transpiled/nav-bar.js"></script>
<script type="text/javascript" src="/classes/frontend/customer/purchases-transpiled/table.js"></script>
<script type="text/javascript" src="/classes/frontend/customer/purchases-transpiled/transaction.js"></script>

<script type="text/javascript" src="/controllers-frontend/customer-transpiled/purchases.js"></script>
</body>
</html>