<!DOCTYPE html>
<html>
<head>
   <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/customer/singin.css" rel="stylesheet">
</head>
<body>

<form action="/customer/signin" method="post" enctype="application/json">
  <div class="mb-3">
    <label class="form-label">Cedula</label>
    <input class="form-control" name="dni" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Introduzca una contraseña</label>
    <input type="password" class="form-control" name="password" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Repita la contraseña</label>
    <input type="password" class="form-control" required>
  </div>
  <button type="submit" class="btn btn-success">Registrarse</button>
</form>

</body>
</html>