<!DOCTYPE html>
<html>
<head>
   <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="singin.css" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><h4><span style="color: yellow">Vene</span><span style="color: blue">Comer</span><span style="color: red">cios</span></h4></a>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Nombre del comercio" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
  </div>
</nav>

<form action="/customer/signin" method="post">
  <div class="mb-3">
    <label class="form-label">Nombre</label>
    <input type="text" class="form-control" name="name" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Apellido</label>
    <input class="form-control" name="lastName" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Cedula</label>
    <input class="form-control" name="dni" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Correo electronico</label>
    <input type="email" class="form-control" name="email" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Numero telefonico</label>
    <input class="form-control" name="phoneNumber" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Introduzca una contraseña</label>
    <input type="password" class="form-control" name="password" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Repita la contraseña</label>
    <input type="password" class="form-control" required>
  </div>
  <button type="submit" class="btn btn-success">Registrarse</button>
</form>

</body>
</html>